<div class="page background" *ngIf="tutor">
    <div class="col-md-12 d-flex flex-md-row flex-sm-column gap-3">
        <div class="col-md-4 col-sm-12">
            <div id="profile-block" class=" mainFormText profile-white-block">
                <div class="u-common-info ">
                    <div class="team-image profile-image-wrap">
                        <img class="" style="border-radius: 50%;" alt="">
                        <i class="c-icon c-icon-play"></i>
                    </div>
                    <div class="u-initials">
                        <h3 class="mainFormText" id="namePrH">
                            <a href="">
                                {{tutor.firstname}}
                                <br>
                                {{tutor.lastname}}
                            </a>
                        </h3>
                        <span class="u-address">
                            Nauczyciel: {{tutor.subject}}
                        </span>
                        <div class="u-status-line">
                            <fa-icon class="me-2" *ngIf="hasBadge(Badges.APPROVED)" icon="check-circle"></fa-icon>
                            <fa-icon class="me-2" *ngIf="hasBadge(Badges.CERTIFICATES)" icon="trophy"></fa-icon>
                            <fa-icon class="me-2" *ngIf="hasBadge(Badges.STAR)" icon="star"></fa-icon>
                        </div>
                    </div>
                </div>
                <div class="u-learn-data">
                    <div class="u-learn-places">
                        <h5>Miejsca nauczania:</h5>
                        <div class="place-prices">
                            <div>
                                <fa-icon class="me-2"
                                         [icon]="hasPlace(Places.TUTOR_PLACE) ? 'check-circle' :  'cancel'">
                                </fa-icon>
                                U mnie
                            </div>
                            <div>
                                <fa-icon class="me-2"
                                         [icon]="hasPlace(Places.STUDENT_PLACE) ? 'check-circle' :  'cancel'">
                                </fa-icon>
                                U ucznia
                            </div>
                            <div>
                                <fa-icon class="me-2" *ngIf="hasPlace(Places.ONLINE)"
                                         [icon]="hasPlace(Places.ONLINE) ? 'check-circle' :  'cancel'">
                                </fa-icon>
                                Online
                            </div>
                        </div>
                    </div>
                    <div class="u-learn-prices">
                        <h5>Z pakietem taniej</h5>
                        <div>
                            <span>od</span> &nbsp;
                            <strong>
                                {{tutor.price | currency : 'zł':'symbol-narrow'}}
                            </strong>
                        </div>
                        <a href="https://edualy.com/pl/cennik-korepetycji">Zobacz nasze pakiety</a>
                    </div>
                </div>
                <div class="u-actions">
                    <button (click)="selectedIndex = 1" mat-raised-button color="primary">
                        <fa-icon></fa-icon>
                        Zamów lekcję
                    </button>
                    <a href="tel:+48537370907" class="btn btn-bordered btn-custom"><i class="c-icon c-icon-phone"></i>
                        Zadzwoń</a>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="profile-block-content profile-section">
                <mat-tab-group [(selectedIndex)]="selectedIndex">
                    <mat-tab label="Opis">
                        <div class="overflow-hidden">
                            <h2 class="mt-2 mb-1">Opis i dane kontaktowe</h2>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="p-2 d-flex flex-column">
                                        <small>Opis:</small>
                                        <span style="font-size: 13px">{{tutor.description}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Harmonogram">
                        <div class="mt-3">
                            Gdzie
                        </div>
                        <mat-button-toggle-group [(ngModel)]="place" name="fontStyle"
                                                 aria-label="Font Style">
                            <mat-button-toggle
                                [disabled]="!tutor.place.includes(PlaceEnum.STUDENT_PLACE)"
                                [value]="PlaceEnum.STUDENT_PLACE">
                                Student Place
                            </mat-button-toggle>
                            <mat-button-toggle
                                [disabled]="!tutor.place.includes(PlaceEnum.TUTOR_PLACE)"
                                [value]="PlaceEnum.TUTOR_PLACE">
                                Tutor Place
                            </mat-button-toggle>
                            <mat-button-toggle
                                [disabled]="!tutor.place.includes(PlaceEnum.ONLINE)"
                                [value]="PlaceEnum.ONLINE">
                                Online
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                        <div class="overflow-hidden d-flex">
                            <div>
                                <h2 class="mb-2">Harmonogram </h2>
                                <mat-card class="demo-inline-calendar-card" *ngIf="initCaledar">
                                    <mat-calendar [(selected)]="selected"
                                                  [minDate]="today"
                                                  [dateFilter]="hideWeekends"></mat-calendar>
                                </mat-card>
                            </div>
                            <div class="ms-4 mt-5 pt-5">
                                <div>
                                    Ile potrzebujesz czasu?
                                </div>
                                <mat-button-toggle-group [(ngModel)]="lessonTime" name="fontStyle"
                                                         aria-label="Font Style">
                                    <mat-button-toggle [value]="1">30 min</mat-button-toggle>
                                    <mat-button-toggle [value]="2">60 min</mat-button-toggle>
                                    <mat-button-toggle [value]="3">90 min</mat-button-toggle>
                                </mat-button-toggle-group>

                                <div class="mt-3">
                                    Dostępne godziny
                                </div>
                                <mat-form-field>
                                    <mat-label>Wybierz godziny</mat-label>
                                    <mat-select [(ngModel)]="lessonHour">
                                        <mat-option *ngFor="let hour of hoursAvailable"
                                                    [value]="hour"
                                                    [disabled]="isDisabled(hour)">
                                            {{hour}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button mat-raised-button color="primary"
                                        [disabled]="!lessonHour || !lessonTime"
                                        (click)="addReservation()">
                                    Zarezerwuj
                                </button>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Kontakt">
                        <div class="overflow-hidden">
                            <h2 class="mt-2 mb-1">Dane kontaktowe</h2>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="p-2 d-flex flex-column">
                                        <small>Numer telefonu:</small>
                                        <span><strong>{{tutor.phoneNumber}}</strong></span>

                                        <small class="mt-2">Email:</small>
                                        <span><strong>{{tutor.email}}</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Przedmioty i lokalizacja">
                        <div class="overflow-hidden">
                            <h2 class="mt-2 mb-1">Przedmioty i lokalizacja</h2>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="p-2 d-flex flex-column">
                                        <small>Przedmiot:</small>
                                        <span><strong>{{tutor.subject}}</strong></span>

                                        <small class="mt-2">Miejsce korepetycji:</small>
                                        <ng-container *ngIf="!tutor.street; else noAddress">
                                            <span>
                                                <strong> {{tutor.street}} {{tutor.houseNumber}},</strong>
                                                <strong> {{tutor.city}}, {{tutor.postalCode}}</strong>
                                            </span>
                                        </ng-container>
                                        <ng-template #noAddress>
                                              <span>
                                                <strong>Nauczyciel nie prowadzi lekcji u siebie</strong>
                                            </span>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Opinie"> Content 3</mat-tab>
                </mat-tab-group>

            </div>
        </div>
    </div>
</div>
