.home-title {
  font-size: 3rem;
  font-family: fantasy;
  text-align: center;
  padding-top: 5rem;
  text-decoration: overline;
  color: #e0eef9;
  @media only screen and (max-width: 992px) {
    font-size: 2rem;
  }
}

#lineChart {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  max-width: 800px;
  min-height: 250px;
}

button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem;
}
