<div @leftRightAnimation class="search-criteria-panel" [formGroup]="carSearchForm">
  <div class="d-flex justify-content-between">
    <h3 class="mb-3">{{'filters' | translate}}</h3>
    <button mat-button class="filter-close-button" (click)="closeV()">
      <mat-icon class="close-icon">cancel</mat-icon>
    </button>
  </div>

  <div class="d-flex">
    <mat-form-field>
      <mat-label>{{'car.mark' | translate}}</mat-label>
      <input matInput type="text" name="mark" formControlName="mark">
    </mat-form-field>
  </div>

  <div class="d-flex">
    <mat-form-field>
      <mat-label>{{'car.model' | translate}}</mat-label>
      <input matInput type="text" name="model" formControlName="model">
    </mat-form-field>
  </div>

  <div class="d-flex">
    <mat-form-field>
      <mat-label>{{'car.color' | translate}}</mat-label>
      <input matInput type="text" name="model" formControlName="color">
    </mat-form-field>
  </div>

  <div class="d-flex">
    <mat-form-field>
      <mat-label>{{'car.engine_capacity' | translate}}</mat-label>
      <input matInput type="number" name="model" formControlName="engine_capacity">
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>{{'car.gearbox_type' | translate}}</mat-label>
    <mat-select formControlName="gearbox_type">
      <mat-option *ngFor="let chest of chestType" [value]="chest">
        {{'car.' + chest | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="d-flex">
    <mat-form-field>
      <mat-label>{{'car.price_per_day' | translate}}</mat-label>
      <input matInput type="number" name="model" formControlName="price_per_day">
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-between">
    <button mat-raised-button (click)="resetV()">{{'reset' | translate}}</button>
    <button mat-raised-button color="primary" (click)="filter()">{{'filter' | translate}}</button>
  </div>
</div>
