<div class="page background">
  <h1 class="mb-4">{{'car.header' | translate}}</h1>
  <button *ngIf="canEdit()" class="mb-2" mat-raised-button color="primary"
          (click)="updateCar()">
    {{'car.add-car' | translate}}
  </button>
  <div class="d-flex flex-lg-row flex-column">
    <div class="me-3 col-lg-2 col-12 mb-4">
      <app-car-filter *ngIf="showSearchBox" [carSearchForm]="carSearchForm"
                      (close)="toggleSearchBox()" (reset)="reset()" (search)="search()"></app-car-filter>
      <button *ngIf="!showSearchBox" mat-raised-button (click)="toggleSearchBox()">
        <mat-icon>search</mat-icon>FILTRY
      </button>
    </div>
    <div class="table-responsive col-lg-10 col-md-12 col-sm-12">
    <table class="table table-light table-striped table-hover" *ngIf="!!cars">
      <thead>
      <tr sort
          [(predicate)]="predicate"
          [(ascending)]="ascending"
          [callback]="reload.bind(this)">
        <th class="w-10 cursor-pointer" scope="col" sortBy="mark">
          <div class="d-flex justify-content-between">
            {{'car.mark' | translate}}
            <fa-icon [icon]="faSort"></fa-icon>
          </div>
        </th>
        <th class="w-10 cursor-pointer" scope="col" sortBy="model">
          <div class="d-flex justify-content-between">
            {{'car.model' | translate}}
            <fa-icon [icon]="faSort"></fa-icon>
          </div>
        </th>
        <th class="w-10 cursor-pointer" scope="col" sortBy="color">
          <div class="d-flex justify-content-between">
            {{'car.color' | translate}}
            <fa-icon [icon]="faSort"></fa-icon>
          </div>
        </th>
        <th class="w-10 cursor-pointer" scope="col" sortBy="engine_capacity">
          <div class="d-flex justify-content-between">
            {{'car.engine_capacity' | translate}}
            <fa-icon [icon]="faSort"></fa-icon>
          </div>
        </th>
        <th class="w-10 cursor-pointer" scope="col" sortBy="gearbox_type">
          <div class="d-flex justify-content-between">
            {{'car.gearbox_type' | translate}}
            <fa-icon [icon]="faSort"></fa-icon>
          </div>
        </th>
        <th class="w-10 cursor-pointer" scope="col" sortBy="price_per_day">
          <div class="d-flex justify-content-between">
            {{'car.price_per_day' | translate}}
            <fa-icon [icon]="faSort"></fa-icon>
          </div>
        </th>
        <th class="w-20" scope="col"></th>
      </tr>
      </thead>
      <tbody *ngIf="!!cars.length; else emptyTable">
      <tr *ngFor="let car of cars">
        <td class="w-10">{{car.mark}}</td>
        <td class="w-10">{{car.model}}</td>
        <td class="w-10">{{car.color}}</td>
        <td class="w-10">{{car.engine_capacity}}</td>
        <td class="w-10">{{ 'car.' + car.gearbox_type | translate}}</td>
        <td class="w-10">{{ car.price_per_day | currencyPipe}}</td>
        <td class="w-20" *ngIf="canEdit">
          <div class="big-buttons-display">
            <button class="me-3 mb-1" mat-stroked-button color="primary"
                    (click)="updateCar(car)">{{'button.update' | translate}}</button>
            <button class="me-3 mb-1" mat-stroked-button color="warn"
                    (click)="deleteCar(car.id!)">{{'button.delete' | translate}}</button>
            <button class="me-3 mb-1" mat-stroked-button color="primary"
                    (click)="detailsCar(car)">{{'button.details' | translate}}</button>
          </div>

          <div class="small-buttons-display">
            <button class="me-3 mb-1" mat-stroked-button color="primary"
                    (click)="updateCar(car)">e</button>
            <button class="me-3 mb-1" mat-stroked-button color="warn"
                    (click)="deleteCar(car.id!)">x</button>
            <button class="me-3 mb-1" mat-stroked-button color="primary"
                    (click)="detailsCar(car)">i</button>
          </div>
        </td>
      </tr>
    </table>
    </div>
  </div>
  <nav>
    <ul class="pagination mt-2 d-flex justify-content-end gap-2">
      <button mat-raised-button [disabled]="page <= 0" (click)="previousPage()">< Previous</button>
      <button mat-raised-button color="primary">{{page}}</button>
      <button class="d-lg-inline d-none"  mat-raised-button [disabled]="isNextPageDisabled()" (click)="nextPage()">{{page + 1}}</button>
      <button class="d-lg-inline d-none"  mat-raised-button [disabled]="isNextPageDisabled()" (click)="nextPage(2)">{{page + 2}}</button>
      <button mat-raised-button [disabled]="isNextPageDisabled()" (click)="nextPage()">Next ></button>
    </ul>
  </nav>
</div>

<ng-template #emptyTable>
  <div class="empty-table">{{'no-results' | translate}}</div>
</ng-template>
