<div class="page background">
  <h1 class="mb-4">{{'tutor.header' | translate}}</h1>
  <button *ngIf="canEdit()" class="mb-2" mat-raised-button color="primary"
          (click)="updateTutor()">
    {{'tutor.add-tutor' | translate}}
  </button>
  <div class="me-3 mb-4">
    <app-tutor-filter *ngIf="showSearchBox" [tutorSearchForm]="tutorSearchForm"
                      (close)="toggleSearchBox()" (reset)="reset()" (search)="search()"></app-tutor-filter>
    <button *ngIf="!showSearchBox" mat-raised-button (click)="toggleSearchBox()">
      <mat-icon>search</mat-icon>
      FILTRY
    </button>
  </div>
  <div class="d-flex flex-lg-row flex-column">
    <div class="table-responsive">
      <table class="table table-light table-striped table-hover" *ngIf="!!tutors">
        <thead>
        <tr sort
            [(predicate)]="predicate"
            [(ascending)]="ascending"
            [callback]="reload.bind(this)">
          <th class="w-10 cursor-pointer" scope="col" sortBy="id">
            <div class="d-flex justify-content-between">
              {{'tutor.id' | translate}}
              <fa-icon [icon]="faSort"></fa-icon>
            </div>
          </th>
          <th class="w-10 cursor-pointer" scope="col" sortBy="mark">
            <div class="d-flex justify-content-between">
              {{'tutor.mark' | translate}}
              <fa-icon [icon]="faSort"></fa-icon>
            </div>
          </th>
          <th class="w-10 cursor-pointer" scope="col" sortBy="model">
            <div class="d-flex justify-content-between">
              {{'tutor.model' | translate}}
              <fa-icon [icon]="faSort"></fa-icon>
            </div>
          </th>
          <th class="w-10 cursor-pointer" scope="col" sortBy="color">
            <div class="d-flex justify-content-between">
              {{'tutor.color' | translate}}
              <fa-icon [icon]="faSort"></fa-icon>
            </div>
          </th>
          <th class="w-10 cursor-pointer" scope="col" sortBy="engine_capacity">
            <div class="d-flex justify-content-between">
              {{'tutor.engine_capacity' | translate}}
              <fa-icon [icon]="faSort"></fa-icon>
            </div>
          </th>
          <th class="w-10 cursor-pointer" scope="col" sortBy="gearbox_type">
            <div class="d-flex justify-content-between">
              {{'tutor.gearbox_type' | translate}}
              <fa-icon [icon]="faSort"></fa-icon>
            </div>
          </th>
          <th class="w-10 cursor-pointer" scope="col" sortBy="price_per_day">
            <div class="d-flex justify-content-between">
              {{'tutor.price_per_day' | translate}}
              <fa-icon [icon]="faSort"></fa-icon>
            </div>
          </th>
          <th class="w-20" scope="col"></th>
        </tr>
        </thead>
        <tbody *ngIf="!!tutors.length; else emptyTable">
        </tbody>
        <!--        <td class="w-10">{{tutor.id}}</td>-->
        <!--        <td class="w-10">{{tutor.firstname}}</td>-->
        <!--        <td class="w-10">{{tutor.lastname}}</td>-->
        <!--        <td class="w-10">{{tutor.email}}</td>-->
        <!--        <td class="w-10">{{tutor.subject}}</td>-->
        <!--        <td class="w-10">{{tutor.description}}</td>-->
        <!--        <td class="w-10">{{tutor.price}}</td>-->
        <!--        <td class="w-20" *ngIf="canEdit">-->
        <!--          <div class="big-buttons-display">-->
        <!--            <button class="me-3 mb-1" mat-stroked-button color="primary"-->
        <!--                    (click)="updateTutor(tutor)">{{'button.update' | translate}}</button>-->
        <!--            <button class="me-3 mb-1" mat-stroked-button color="warn"-->
        <!--                    (click)="deleteTutor(tutor.id!)">{{'button.delete' | translate}}</button>-->
        <!--            <button class="me-3 mb-1" mat-stroked-button color="primary"-->
        <!--                    (click)="detailsTutor(tutor)">{{'button.details' | translate}}</button>-->
        <!--          </div>-->

        <!--          <div class="small-buttons-display">-->
        <!--            <button class="me-3 mb-1" mat-stroked-button color="primary"-->
        <!--                    (click)="updateTutor(tutor)">e</button>-->
        <!--            <button class="me-3 mb-1" mat-stroked-button color="warn"-->
        <!--                    (click)="deleteTutor(tutor.id!)">x</button>-->
        <!--            <button class="me-3 mb-1" mat-stroked-button color="primary"-->
        <!--                    (click)="detailsTutor(tutor)">i</button>-->
        <!--          </div>-->
        <!--        </td>-->
      </table>

      <ng-container *ngIf="!!tutors.length; else emptyTable">
      <ng-container *ngFor="let tutor of tutors">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{tutor.firstname}} {{tutor.lastname}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{tutor.subject}}</h6>
            <p class="card-text">{{tutor.description}}</p>
            <a href="#!" class="card-link">Card link</a>
            <a href="#!" class="card-link">Another link</a>
          </div>
        </div>
      </ng-container>
      </ng-container>
    </div>
  </div>
  <nav>
    <ul class="pagination mt-2 d-flex justify-content-end gap-2">
      <button mat-raised-button [disabled]="page <= 0" (click)="previousPage()">< Previous</button>
      <button mat-raised-button color="primary">{{page}}</button>
      <button class="d-lg-inline d-none" mat-raised-button [disabled]="isNextPageDisabled()"
              (click)="nextPage()">{{page + 1}}</button>
      <button class="d-lg-inline d-none" mat-raised-button [disabled]="isNextPageDisabled()"
              (click)="nextPage(2)">{{page + 2}}</button>
      <button mat-raised-button [disabled]="isNextPageDisabled()" (click)="nextPage()">Next ></button>
    </ul>
  </nav>
</div>

<ng-template #emptyTable>
  <div class="empty-table">{{'no-results' | translate}}</div>
</ng-template>
