<ng-container *ngIf="user.role === AuthRole.STUDENT ">
    <h2>
        {{"my-profile.my-reservations" | translate}}
    </h2>
    <div class="row">

        <ng-container *ngFor="let reservation of reservations$ |async">
            <div class="col-sm-6 mt-2">
                <div class="widget-info basic-container">

                    <small>
                        {{"my-profile.lessons-data" | translate}}
                    </small>
                    <span>{{reservation.date}}</span>

                    <small>
                        {{"my-profile.hour" | translate}}
                    </small>
                    <span>{{reservation.lessonHour}}</span>

                    <small>
                        {{"my-profile.where" | translate}}
                    </small>
                    <span>{{reservation.place}}</span>
                    <mat-icon class="icon-copy">file_copy</mat-icon>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>

<ng-container *ngIf="user.role === AuthRole.TUTOR ">
    <h2>
        {{"my-profile.my-lessons" | translate}}
    </h2>
    <div class="row">
        <ng-container *ngFor="let reservation of reservations$ |async">
            <div class="col-sm-6 mt-2">
                <div class="widget-info">

                    <small>
                        {{"my-profile.lesson-date" | translate}}
                    </small>
                    <span>{{reservation.date}}</span>

                    <small>
                        {{"my-profile.hour" | translate}}
                    </small>
                    <span>{{reservation.lessonHour}}</span>

                    <small>
                        {{"my-profile.where" | translate}}
                    </small>
                    <span>{{reservation.place}}</span>
                    <mat-icon class="icon-copy">file_copy</mat-icon>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>