<h2>Mój profil</h2>
<div class="row">
    <div class="col-sm-6">
        <div class="widget-info basic-container">
            <small>Data dołączenia:</small>
            <span>{{user.createDate}}</span>
            <mat-icon class="icon-copy">file_copy</mat-icon>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="widget-info basic-container">
            <small>Email:</small>
            <span>{{user.email}}</span>
            <mat-icon class="icon-copy">file_copy</mat-icon>
        </div>
    </div>
</div>