<ng-container *ngIf="user.role === AuthRole.STUDENT  && tutors">
    <h2>Moje korepetytorzy</h2>
    <div class="row">

        <ng-container *ngFor="let tutor of tutors">
            <div class="mt-2">
                <div class="widget-info d-flex flex-column">

                    <div>
                        <small>Imie i nazwisko korepetytora:</small>
                        <span>{{tutor.firstname}} {{tutor.lastname}}</span>
                    </div>

                    <div>
                        <small>Adress:</small>
                        <span>{{tutor.subject}}</span>
                    </div>

                    <div>
                        <small>Numer telefonu:</small>
                        <span>{{tutor.phoneNumber}}</span>
                        <mat-icon class="icon-copy">file_copy</mat-icon>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>