<h2>Ogłoszenia</h2>
<div class="row">
    <div class="col-sm-6">
        <div class="widget-info">
            <small>Aktywne ogłoszenie:</small>
            <span>2020-11-05</span>
            <mat-icon class="icon-copy">file_copy</mat-icon>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="widget-info">
            <small>Dodaj ogłoszenie:</small>
            <button mat-raised-button color="primary" (click)="addAnnouncement()">Dodaj ogłoszenie</button>
            <mat-icon class="icon-copy">file_copy</mat-icon>
        </div>
    </div>
</div>