<h2>Ogłoszenia {{tutor}}</h2>
<div class="row">
    <div *ngIf="tutor" class="col-sm-6">
        <div class="widget-info">
            <small>Aktywne ogłoszenie:</small>
            <div>2020-11-05</div>
            <mat-icon class="icon-copy">file_copy</mat-icon>
            <div>Przedmiot: {{tutor.subject}}</div>
            <div>Cena: {{tutor.price}}</div>
            <small>Edytuj ogłoszenie:</small>
            <button mat-raised-button color="primary" (click)="addAnnouncement()">
                Edytuj ogłoszenie
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="!tutor" class="col-sm-9">
        <div class="widget-info">
            <small>Dodaj ogłoszenie:</small>
            <button mat-raised-button color="primary" (click)="addAnnouncement()">
                Dodaj ogłoszenie
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>