.home-title {
  font-size: 3rem;
  text-align: center;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 5rem;
  color: white;
  @media only screen and (max-width: 992px) {
    font-size: 2rem;
  }
}

#lineChart {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  max-width: 800px;
  min-height: 250px;
}

button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem;
}

.clock-cader {
  width: 371px;
  height: 162px;
  background: rgb(48, 125, 184);
  background: linear-gradient(0deg, rgba(59, 96, 166, 0.8196078431) 44%, rgba(255, 255, 255, 1) 100%);
  border-radius: 24px;
  border: 6px solid #b5babf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hour {
  color: #cee0ee;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  transform: scaleY(1.4);
  width: 80%;
  margin-left: 20%;
}

.date {
  @extend .hour;
  color: var(--dark-primary);
  font-size: 20px;
}

.logo-x {
  min-height: 180px;
  width: 180px;
  margin-bottom: -40px;
  z-index: 10;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/image/logo.png');
}

.bc {
  background-image: url('../../../../assets/image/background-blue-2.png');
}
