<div class="h-100 login-background">
  <div class="home-title h-100 opacity-100 d-flex flex-column">
    <div>{{'home.hello' | translate}}
      <span *ngIf="user" style="color: #263238">{{user.firstname}} {{user.lastname}} {{user.role}}</span>
      {{'home.main-app' | translate}}
    </div>
    <a *ngIf="!user" routerLink='/login'>{{'home.login' | translate}}</a>
  </div>
  <div *ngIf="user" class="d-flex justify-content-center p-2">
    <button mat-flat-button color="primary" (click)="toggleOpen()">
      {{'chart_toggle' | translate}}
    </button>
  </div>
  <div id="lineChart" *ngIf="barLoaded">
    <canvas baseChart
            [options]="barChartOptions"
            [datasets]="this.barChartData"
            [labels]="barChartLabels"
            [legend]="barChartLegend"
            [type]="barChartType">
    </canvas>
  </div>
</div>
